* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-me {
    width: 100%;
    height: 100vh;
    background-color: #0014B6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.about-me .about-page img {
    width: 70%;
    height: 80%;
    box-shadow: inset 5px 5px 0px 0 #fff;
}

.about-me .about-text .text {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.about-me .about-text h4 {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}