 @media only screen and (max-width: 1440px) {
    .home-dome .home-page img {
        width: 350px;
        height: 28%;
    }
    .home-dome {
        padding: 40px 0;
        height: 100vh;
    }
    .home-dome {
        display: flex;
        justify-content: center;
    }
    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .portfolio .port{
        height: auto;
    }
    .skills .card{
        width: 20%;
    }
}

@media only screen and (max-width: 1200px) {
    header nav ul li a {
        font-size: 12px;
        padding: 20px 30px;
    }
    header .logo {
        font-size: 25px;
    }
    .home-dome .home-text h3 {
        font-size: 40px;
    }
    .home-dome .home-page img {
        width: 316px;
        height: 28%;
    }
    .home-dome {
        margin-bottom: 30px;
    }
    .home-dome .home-text p {
        font-size: 20px;
    }
    .home-dome .home-text .next {
        font-size: 12px;
    }
    .about-me .about-page img {
        width: 316px;
        height: 28%;
    }
    .about-me .about-text .text {
        font-size: 12px;
        padding-left: 55px;
    }
    .about-me .about-text h4 {
        font-size: 26px;
    }
    .portfolio .port .text-box .port-text {
        font-size: 20px;
    }
    .portfolio{
        height: 100vh;
    }
    .skills{
        height: 100vh;
    }
    .skills .card i{
        font-size: 80px;
    }
    .contact .foot-call .footer-text {
        font-size: 22px;
    }
    .contact .foot-call .con-text {
        font-size: 16px;
    }
    .contact .foot-png img {
        width: 360px;
        height: 28%;
    }
    .contact {
        height: auto;
    }
    .contact .foot-call a i {
        font-size: 35px;
    }
    .offer__action .btn {
        font-size: 10px;
    }
}

@media only screen and (max-width: 992px) {
    header nav ul li a {
        font-size: 14px;
        padding: 20px 16px;
    }
    .about-me .about-text .text {
        font-size: 12px;
        padding-left: 10px;
        text-align: center;
    }
    .about-me .about-page img {
        width: 280px;
        height: 35%;
    }
    .home-dome .home-page img {
        width: 284px;
        height: 28%;
    }
    .contact .foot-png img {
        width: 272px;
        height: 28%;
    }
    .contact .foot-call .con-text {
        font-size: 10px;
    }
    .contact .foot-call a i {
        font-size: 30px;
    }
    .portfolio{
        height: auto;
        padding: 30px;
    }
    .portfolio .port{
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .home-dome .home-text h3{
        font-size: 35px;
    }
    header nav ul li a {
        display: none;
    }
    header .logo {
        font-size: 25px;
        padding: 20px 30px;
    }
    header {
        display: flex;
        justify-content: flex-start;
    }
    .home-dome .home-page img {
        width: 260px;
        height: 80%;
    }
    .home-dome {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        height: auto;
    }
    .about-me {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        height: 100vh;
    }
    .about-me .about-page img {
        width: 260px;
        height: 80%;
    }
    .portfolio {
        height: 100vh;
        padding: 40px 0;
    }
    .portfolio .port .text-box .port-text {
        font-size: 18px;
    }
    .skills {
        height: 100vh;
    }
    .skills .card i {
        font-size: 60px;
    }
    .contact {
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .contact .foot-png img {
        width: 220px;
        height: 28%;
    }
    .modal__title{
        font-size: 18px;
    }
    .modal__input{
        font-size: 16px;
        margin: 13px auto 14px auto;
    }
    .portfolio{
        height: auto;
        padding: 30px;
    }
    .portfolio .port{
        width: 40%;
    }
}

@media only screen and (max-width: 480px) {
    .about-me .about-text .text {
        font-size: 10px;
        text-align: center;
        padding: 0 13px 0 13px;
    }
    .about-me .about-text h4 {
        font-size: 25px;
    }
    .portfolio .port .text-box .port-text {
        display: flex;
        font-size: 10px;
        padding: 10px 10px;
    }
    .portfolio{
       display: flex;
       flex-direction:row;
    }
    .portfolio .port {
        height: auto;
    }
    .contact .foot-png img {
        width: 200px;
        height: 28%;
    }
    .contact .foot-call .con-text {
        font-size: 8px;
    }
    .modal__title {
        font-size: 15px;
    }
    .modal .btn {
        font-size: 16px;
    }
    .portfolio{
        height: auto;
        padding: 30px;
    }
    .portfolio .port{
        width: 70%;
        height: auto;
    }
    .portfolio .port .text-box .port-text {
        display: flex;
        font-size: 16px;
        padding: 30px 10px;
    }
    .skills{
        height: auto;
        padding: 30px;
    }
    .skills .card{
        width: 35%;
        height: auto;
    }
    .about-me .about-page img {
        width: 240px;
        height: 90%;
    }
}
@media only screen and (max-width: 320px){
    .portfolio{
        height: auto;
        padding: 30px;
    }
    .portfolio .port{
        width: 100%;
        height: auto;
    }
    .home-dome .home-text h3{
        font-size: 24px;
    }
    .home-dome .home-page img {
        width: 240px;
        height: 60%;
    }
    .about-me .about-page img {
        width: 240px;
        height: 90%;
    }
    .portfolio .port .text-box .port-text {
        display: flex;
        font-size: 16px;
        padding: 10px;
    }
    .skills {
        height: auto;
        padding: 20px 0;
    }
    .skills .card{
        width: 40%;
    }
}