* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skills {
    width: 100%;
    height: auto;
    background-color: #0014B6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 30px;
    padding: 15vmin 0;
}

.skills .card {
    width: 20%;
    height: auto;
    background-color: #fff;
    font-size: 100px;
    text-align: center;
}
.skills .card i{
    padding: 50px 0;
}
.skills .card:hover {
    box-shadow: 0px 5px 5px 2px #000;
    transition: .1s;
}